.date-display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 20rem;
    width: 75%;

    border-radius: 0.25rem;
    padding: 1rem;

    background-color: var(--colour-primary);
    color: var(--text-colour-light);
}

#date-display-day {
    font-size: 8rem;
}

#date-display-month {
    font-size: 2rem;
    text-transform: uppercase;
}

#date-display-year {
    font-size: 1rem;
}
