.middle-panel {
    position: absolute;

    /* The left value should match with the width of left panel. */
    left: 20vw;

    min-height: 100vh;

    background-color: var(--background-colour-secondary);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}