.middle-panel {
    /* width: 60vw; */
    flex: 1;
    
    background-color: var(--background-colour-secondary);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}