.middle-panel {
    /* Use absolute so the left value can be adjusted to be next to the left panel. */
    position: absolute;

    /* The left value should match with the width of left panel. */
    left: 20vw;

    width: 80vw;
    min-height: 100vh;

    background-color: var(--background-colour-secondary);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.lessons-container {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}