.lesson-container {
    padding: 2rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.lesson-date {
    color: var(--colour-primary);
    cursor: pointer;
}

.lesson-text {

}