.left-panel {
    /* /* This make sure the left panel is fixed in place regardless of scroll. */
    position: fixed;

    /* The width should match with the left value of middle panel. */
    width: 20vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 1rem;

    background-color: var(--background-colour-primary);
}