#app {
    /* Defines how children elements are laid out. */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    /* The panels must be at least as height as the browser view-port. */
    min-height: 100vh;
}