@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  font-family: 'Josefin Sans', serif;
}

a, a:visited {
  text-decoration: none;
}

p {
  margin: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: black;
}